h1 {
  color: red;
}

h2 {
  color: orange;
}

h3 {
  color: yellow;
}

h4 {
  color: green;
}

h5 {
  color: blue;
}

p {
  color: violet;
}

img {
  width: 200px;
}

ul {
  border: 1px solid black;
  background-color: pink;
}

ol {
  border: 3px dashed black;
  background-color: teal;
}
